.sidebarRow {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 1rem;
}

.sidebarRow > h4 {
  margin-left: 2rem;
  font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
  color: #2e81f4;
  font-size: xx-large;
}
